@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    touch-action: none;
}

body {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.frame {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-top: 3rem;
}

.container {
    margin: auto;
    height: 100vh;
    width: 70%;
    display: flex;
    overflow: hidden;
}

.containerFlex {
    margin: auto;
    height: 43%;
    width: 80%;
}

.logo {
    width: 100%;
    margin: 0;
    padding: 0;
}

.deskripsi {
    text-align: center;
    font-size: 20px;
    font-family: "Great Vibes", Roboto;
    color: #9A6930;
    font-weight: 500;
    margin-bottom: 4px;
}

.hr1 {
    border: #9A6930 solid 1px;
    width: 30%;
    margin: auto;
}

.hr2 {
    border: #9A6930 solid 1px;
    margin: 6px 0;
}

.inc {
    color: rgb(106, 106, 106);
    font-weight: 600;
    font-size: 12px;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Noto Sans', roboto;
}

.ornamen {
    width: 30%;
    position: absolute;
    right: 34vw;
    bottom: 27vh;
    opacity: 35%;
}

.imgspin {
    width: 70%;
    position: absolute;
    left: -37vw;
    top: -20vh;
    filter: brightness(120%);
    animation: spin 8s linear infinite;
}

.imgspin2 {
    width: 70%;
    position: absolute;
    right: -46vw;
    bottom: -14vh;
    filter: brightness(120%);
    animation: spin2 8s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 641px) {
    body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        margin: 0;
        padding: 0;
        touch-action: none;
    }

    body {
        position: fixed;
        width: 100%;
        height: 100vh;
    }

    .frame {
        width: 100%;
        height: 100vh;
        background-image: url(../assets/mobile.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
    }

    .container {
        margin: auto;
        height: 92%;
        width: 70%;
        display: flex;
        overflow: hidden;
    }

    .containerFlex {
        margin: auto;
        height: 43%;
        width: 80%;
    }

    .logo {
        width: 100%;
        margin-bottom: 8px;
        padding: 0;
    }

    .deskripsi {
        text-align: center;
        font-size: 36px;
        font-family: "Great Vibes", Roboto;
        color: #9A6930;
        font-weight: 500;
        margin-bottom: 4px;
    }

    .hr1 {
        border: #9A6930 solid 1.5px;
        width: 30%;
        margin: auto;
    }

    .hr2 {
        border: #9A6930 solid 1.5px;
        margin: 12px 20px;
        width: 90%;
    }

    .inc {
        color: rgb(106, 106, 106);
        font-weight: 600;
        font-size: 20px;
        margin-top: 1rem;
        text-align: center;
        font-family: 'Noto Sans', roboto;
    }
    .ornamen {
        width: 28%;
        position: absolute;
        bottom: 168px;
        left: 270px;
        opacity: 35%;
    }

    .imgspin {
        width: 57%;
        position: absolute;
        left: -22vw;
        top: -32vh;
        filter: brightness(120%);
        animation: spin 8slinear infinite;
    }
    
    .imgspin2 {
        width: 57%;
        position: absolute;
        right: -35vw;
        bottom: -29vh;
        filter: brightness(120%);
        animation: spin2 8slinear infinite;
    }
    
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
    
        to {
            transform: rotate(360deg);
        }
    }
    
    @keyframes spin2 {
        from {
            transform: rotate(0deg);
        }
    
        to {
            transform: rotate(360deg);
        }
    }
}

@media (min-width: 820px){
    html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    touch-action: none;
}

body {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.frame {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-top: 3rem;
}

.container {
    margin: auto;
    height: 92vh;
    width: 70%;
    display: flex;
    overflow: hidden;
}

.containerFlex {
    margin: auto;
    height: 43%;
    width: 80%;
}

.logo {
    width: 100%;
    margin: 0;
    padding: 0;
}

.hr1 {
    border: #9A6930 solid 1.5px;
    width: 30%;
    margin: auto;
}

.hr2 {
    border: #9A6930 solid 1.5px;
    margin: 12px 20px;
    width: 90%;
}

.inc {
    color: rgb(106, 106, 106);
    font-weight: 600;
    font-size: 20px;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Noto Sans', roboto;
}
.ornamen{
    width: 32%;
    position: absolute;
    bottom: 210px;
    left: 273px;
    opacity: 35%;
}
.imgspin {
    width: 57%;
    position: absolute;
    left: -22vw;
    top: -32vh;
    filter: brightness(120%);
    animation: spin 8slinear infinite;
}

.imgspin2 {
    width: 57%;
    position: absolute;
    right: -35vw;
    bottom: -29vh;
    filter: brightness(120%);
    animation: spin2 8slinear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


}

@media (min-width : 1280px) {

    html,
    body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        margin: 0;
        padding: 0;
        touch-action: none;
    }

    body {
        position: fixed;
        width: 100%;
        height: 100vh;
    }

    .frame {
        width: 100%;
        height: 100vh;
        background-image: url(../assets/desktop.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding: 0;
    }

    .container {
        height: 100vh;
        width: 70%;
        display: flex;
        overflow: hidden;
    }

    .containerFlex {
        margin: auto;
        height: 100%;
        width: 100%;
    }

    .logo {
        width: 40%;
        margin-left: 20rem;
        padding: 0;
    }

    .deskripsi {
        text-align: center;
        width: 52%;
        margin-left: 15rem;
        font-size: 40px;
        font-family: "Great Vibes", Roboto;
        color: #9A6930;
        font-weight: 500;
        margin-top: 5rem;
        margin-bottom: 4px;
    }

    .hr1 {
        border: #9A6930 solid 1px;
        width: 24%;
        margin-left: 22.5rem;
        margin-top: 4px;
    }

    .hr2 {
        width: 52%;
        border: #9A6930 solid 1px;
        margin-left: 15.5rem;
        margin-top: 12px;
    }

    .inc {
        color: rgb(106, 106, 106);
        font-weight: 600;
        font-size: 20px;
        margin-top: 1rem;
        text-align: center;
        margin-left: 4rem;
        font-family: 'Noto Sans', roboto;
    }

    .ornamen {
        width: 15%;
        position: absolute;
        right: 41vw;
        bottom: 1vh;
        opacity: 35%;
    }

    .imgspin {
        width: 12%;
        position: absolute;
        top: 3vh;
        left: 67vw;
        filter: brightness(60%);
        animation: spin 8slinear infinite;
    }

    .imgspin2 {
        width: 70%;
        position: absolute;
        right: -46vw;
        bottom: -14vh;
        filter: brightness(120%);
        animation: spin2 8s linear infinite;
        display: none;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

}