@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.frame {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    height: 100vh;
    width: 70%;
    display: flex;
}

.containerFlex {
    margin: auto;
    height: 40%;
    width: 80%;
}

.logo {
    width: 50%;
    margin: 1rem 3.5rem;
}
.greeting{
    font-family: "great vibes", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0rem 1.3rem;
    color: #6E3613;
}

.year{
    font-family: "Scheherazade New", sans-serif;
    background-color: #AB7A3A;
    color: white;
    width: 6rem;
    padding-left: 1.8rem;
    margin: auto;
    border-radius: 8px;
    margin-top: 4px;
    font-size: 8px;
}

.deskription{
    font-family: 'Amiri', serif;
    margin-top: 1.3rem;
    font-size: 11px;
    padding-left: 0.6rem;
    font-weight: 600;
    color: #A46738;
    line-height: 1.5;
    width: 97%;
    text-align: center;
}